*,
::after,
::before {
    box-sizing: border-box
}

.modal {
    width: 100vw;
    height: 100vh;
    background: rgba(10, 10, 10, .9);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 90%;
    margin-left: 10%;
    height: 100vh;
    background: black;
}

section .underliner {
    position: relative;
    width: fit-content;
    color: red;
}

section .underliner::after {
    content: "";
    width: 100%;
    height: .2em;

    /* background-color: var(--c-title-underline-color); */
    background: red;

    position: absolute;
    bottom: -2px;
    left: 0;
}

#home h2 {
    color: antiquewhite;
    margin-top: 0;
}

#home h3 {
    color: rgb(224, 49, 49);
}

#home .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#home .icons .icon {
    width: 10%;
}

#home .icons .icon:hover {
    transform: rotate3d(5deg);
    cursor: pointer;
}

/* why we're here section */
#why {
    padding-top: 4em;
    background-image: url(../images/1.jpg);
    background-size: cover;
}

.section h1,
.section h2 {

    color: #ffffff;
    position: absolute;
    left: 50;
    z-index: 999;
}

.section h1 {
    font-size: 2em;
    top: 30px;
}

section h2 {
    font-size: 1.5em;
    top: 60px;
}

.section .desc {
    min-width: 100%;
    height: 100vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: black;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateY(100%);
    transition: 1s linear;
    opacity: 0;
    visibility: hidden;
}


section .desc.active {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

section p {
    color: aliceblue;
    width: 60%;
    font-size: 1.5em;
}

section button {
    border: none;
    outline: none;
}

section button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#why_h,
#who_h,
#what_h {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#why_h {
    text-decoration-color: gray;
}

#who_h {
    text-decoration-color: midnightblue;
}

#what_h {
    text-decoration-color: green;
}

#why_typed {
    font-weight: bold;
    background: -webkit-linear-gradient(right, #FFFFFF, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#who_typed {
    font-weight: bold;
    background: -webkit-linear-gradient(right, midnightblue, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#what_typed1 {
    font-weight: bold;
    background: -webkit-linear-gradient(right, green, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#what_typed2 {
    font-weight: bold;
    background: -webkit-linear-gradient(right, #FFFFFF, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -------------------------- */
#who {
    background-image: url(../images/2.jpg);
    background-size: cover;
}

#what {
    background-image: url(../images/3.jpg);
    background-size: cover;
}
/* ---------------------- */
#goals img {
    width: 8em;
    height: 8em;
}

/* ------------------- */

#contact {
    color: whitesmoke;
    padding-top: 3em;
}

#contact .icons {
    display: flex;
}

#contact .icon {
    margin: 0 10px;
}

#contact .icon img {
    width: 2em;
    height: 2em;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-left: .4em;
    justify-content: center;
    height: 100vh;
    background-color: whitesmoke;
}


.menu button {
    font-size: 1em !important;
    background: transparent;
    font: inherit;
    border: none;
    cursor: pointer;
    color: black;
    text-align: start;
}

.menu button.active {
    background: transparent;
    color: rgb(66, 99, 235);
    border-left: 2px solid rgb(66, 99, 235);
}

.row div {
    margin-top: .4em;
}